var rsdata = require('http/v3/rs-data'); 

rsdata
  .service()
    .dao({
	  "table": "{{entityName}}_BOOKS",
	  "properties": [
	  {{#properties}}
	  	{
		  	"name": "{{.name}}",
	    	"column": "{{.dataName}}",
			"type":"{{.dataType}}",
			"id": "{{.dataPrimaryKey}}",
			"required": "{{.dataNotNull}}"
		}
	  {{/properties}}
	  ]
    })
  .execute();
  